<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">{{ page.title }}</title>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
    {% seo %}
</head>

{{ content }}

<script>
var path = window.location.pathname;
var href= [ "<a href='/'><em>(root)</em></a> /" ];
var papart = path.trim().split("/");
var count = papart.length -2;

if (count > 0) {
  let regex = '';
  for (var i = 1; i <= count; i++) {
    regex = new RegExp('.*/' + papart[i] + '/');
    href[i] = "<a href='" + path.match(regex) + "'>" + decodeURI(papart[i]) + "</a> /";
  }
}

document.getElementById('title').innerHTML = "Index of " + decodeURI(path);
document.getElementById('path').innerHTML = "Index of " + href.join(" ");
</script>

</html>
